body {
	background-color: #1E3B85;
}

h1 {
	font-family: 'Roboto', sans-serif;
	border-bottom: 5px solid #000;
}

p {
	font-family: 'Roboto', sans-serif;
}

#about-me-wrap {
    background-color: #0089D8;
    padding: 50px;
    width: 60%;
    margin: 100px auto;
}

#profile-wrap {
	float: left;
	width: 40%;
	margin-right: 10%;
}

#bio-wrap {
	float: right;
	width: 50%;
}

.clear {
	clear: both;
}